<div class = "item-list">
    <div *ngFor="let item of items" class="item-of-items">
        <div (click)="changeToItemDetails(item.id)" class="item-details">
                <div class="title-container">
                    <h3>{{item.name}}</h3>
                </div>
                <img [src] = "item.imageUrl" [alt] = "item.name">
                <p>{{item.description}}</p>
                <span>{{item.price.toFixed(2) | currency}}</span>
        </div>
         <ng-container *ngIf="isInBasket(item) else addToBasketButton">
            <div class="quantity-buttons">
                <button class="decrement-button">-</button>
                <span>{{getBasketItem(item)?.quantity}}</span>
                <button class="increment-button">+</button>
            </div>
         </ng-container>
         <ng-template #addToBasketButton>
            <button class="buy-button" (click)="addToBasket(item)">Buy it</button>
         </ng-template>
    </div>
</div>