<nav>
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <a routerLink="/">HOUGERU</a>
    <form (submit)="handleSearchSubmit()">
        <input 
        type="text" 
        name="searchValue" 
        [(ngModel)]="searchValue" 
        [placeholder]="searchValue !== '' ? searchValue : 'Search products ...'"
      />
        <button type="submit">Search</button>
    </form>
    <div [class.active]="menuOpen">
        <a routerLink="/">Home</a>
        <a routerLink="/categories">Category</a>
        <a routerLink="/basket">Basket</a>
        <a *ngIf="isAuthenticated" routerLink="/account">Account</a>
        <a *ngIf="isAuthenticated && isAdmin" routerLink="/admin">Admin</a>
        <a *ngIf="!isAuthenticated" routerLink="/login">Login</a>
        <a *ngIf="isAuthenticated" (click)="handleLogout()">Log out</a>
    </div>
</nav>
