<div class="address-page">
    <h2>{{isInEdit ? 'Edit Address' : 'Add Address'}}</h2>
    <p class="error" *ngIf="error">{{error}}</p>
    <form [formGroup]="addressForm" (ngSubmit)="handleSubmit()">
        <div class="form-group">
            <label for="country">Country: </label>
            <input id="country" type="text" formControlName="country">
            <div class="error" *ngIf="addressForm.get('country')?.invalid && addressForm.get('country')?.touched">
                Enter valid Country
            </div>
        </div>
        <div class="form-group">
            <label for="zipcode">Zipcode: </label>
            <input id="zipcode" type="text" formControlName="zipcode">
            <div class="error" *ngIf="addressForm.get('zipcode')?.invalid && addressForm.get('zipcode')?.touched">
                Enter valid Zipcode
            </div>
        </div>
        <div class="form-group">
            <label for="city">City: </label>
            <input id="city" type="text" formControlName="city">
            <div class="error" *ngIf="addressForm.get('city')?.invalid && addressForm.get('city')?.touched">
                Enter valid City
            </div>
        </div>
        <div class="form-group">
            <label for="street">Street: </label>
            <input id="street" type="text" formControlName="street">
            <div class="error" *ngIf="addressForm.get('street')?.invalid && addressForm.get('street')?.touched">
                Enter valid Street
            </div>
        </div>
        <button type="submit" class="submit-button" [disabled]="addressForm.invalid">{{isInEdit ? 'Edit Address' : 'Add Address'}}</button>
    </form>
</div>